html, body{
    margin: 0;
    padding: 0;
    font-family:"Pontano Sans", sans-serif;
    position: absolute;
    background: url(/static/BookingDotComImages/1.jpg) rgba(0, 0, 0, 0.0);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;      
    background-blend-mode: multiply;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;
}
header.header{
    margin: 0;
    color: #fff;
    background-color: rgb(255, 255, 255);
    height: 55px;
    border-bottom: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
}
header.header div.about{
    width: 70%;
    margin: 0 auto;
    max-width: 1600px;
    height: 12.5px;
}
header.header div.about div.logo-container{
    position: absolute;
    left: 30px;
    top: 17.5px;
}
header.header div.about div.logo-container img{
    width: 150px;
}
header.header div.follow{
    position: absolute;
    top: 12.5px;
    right: 20px;
}
header.header nav{
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-bottom: 1rem;
}

/* NAV EFFECTS */
header.header nav ul li a,
header.header nav ul li a:after,
header.header nav ul li a:before {
  transition: all .5s;
}
header.header nav ul li a:hover {
  /* color: black; */
  color: #107896;
}

div.follow ul{
    margin: 0;
    padding-left: 0;
    margin-right: 30px;
}

div.follow ul li{
    list-style: none;
    display: inline-block;
}

div.follow ul li a{}

div.follow ul li a img{
    height: 30px;
    width: 30px;
    opacity: 0.5;
    transition: 0.3s ease;
}
div.follow ul li a img:hover{
    opacity: 1;
}

/* stroke */
nav ul li a{
  position: relative;
}
nav ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /* background: black; */
  background: #107896;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
/* END OF NAV EFFECTS */

header.header nav ul{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0rem;
    text-align: center;
    float: right;
    margin-right: 170px;
    width: fit-content;
    padding: 0;
    padding-inline-start: 0;
}

header.header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0rem 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

header.header nav ul li:nth-child(2){
    width: 155px;
    padding-left: 0;
    padding-right: 0;
}

header.header nav ul li a{
    text-decoration: none;
    color: #707C80;
    display: block;
    padding: .5rem 0rem;
    margin: 0;
    font-size: 1rem;
}
div.grid-container{
    display: grid;
    margin: 0 auto;
    width: 80%;
    max-width: 1600px;
}
div.grid-container.front-page{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

div.grid-wrapper.gallery{
    margin: 0 auto;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

}
div.gallery-item-container{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: rgba(31, 31, 31, 0.5);
}


div.grid-wrapper.gallery div.gallery-item{
    transition: transform 300ms ease-out;
}

div.gallery-item-container.three{
    grid-template-columns: 1fr 1fr 1fr;
}
div.grid-wrapper.gallery div.gallery-item img{
    width: 100%;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6);
    
}
.gallery-item:hover {
	transform: scale(1.5);
}

div.gallery-item-container.three .gallery-item img{
    height: 100%;
}

div.gallery-item-container.three .gallery-item:hover{
    transform: scale(2);
}
.gallery-item-description{
    grid-column: 1/-1;
    color: #fff;
}
.gallery-item-container h4{
    color: #fff;
    grid-column: 1/-1;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
}

.gallery-item-description p{
    text-align: center;
    margin-bottom: 0;
}

div.grid-wrapper.local-golf{
    margin: 0 auto;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    height: calc(100vh - 5rem - 2rem - 5rem);
    overflow: hidden;
}

div.grid-wrapper.local-golf .info{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 4rem;
    padding: 1rem;
    background-color: rgba(31, 31, 31, 0.5);
    text-align: center;
    color: #fff;
    overflow-y: scroll;
}

div.grid-wrapper.local-golf .info::-webkit-scrollbar {
    width: 10px;
}
div.grid-wrapper.local-golf .info::-webkit-scrollbar-track {
    background: transparent; 
}
div.grid-wrapper.local-golf .info::-webkit-scrollbar-thumb {
    background: #888; 
}
div.grid-wrapper.local-golf .info::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

div.grid-wrapper.local-golf .info .text{}
div.grid-wrapper.local-golf .info .image{}
div.grid-wrapper.local-golf .info .image img{
    width: 250px;
}


div.grid-wrapper.local-golf .info .text.textleft{
    grid-column: 1/4;
}
div.grid-wrapper.local-golf .info .text.textright{
    grid-column: 3/6
}
div.grid-wrapper.local-golf .info .image.imageleft{
    grid-column: 1/3
}
div.grid-wrapper.local-golf .info .image.imageright{
    grid-column: 4/6;
}

div.grid-wrapper.local-golf .info .text h4{
    margin-top: .5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.overviewpic{
    width: 100%;
    overflow: hidden;
}
.overviewpic img{
    transition: transform 300ms ease-out;
    width: 100%;
}
.overviewpic:hover img{
    transform: scale(1.5);
}

.grid-wrapper.availability{
    margin: 0 auto;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1em;
}

.grid-wrapper.availability div{
    color: #fff;
    text-align: center;
    background-color: rgba(31, 31, 31, 0.5);
    border: 1px solid #3e3e3e;
    padding: 1rem;
}

.grid-wrapper.availability .flights{
    grid-column: 1/2;
    grid-row: 1/3;
    height: calc(100vh - 14rem);
}
.grid-wrapper.availability .flights ul{
    padding-left: 0%;
    margin-top: .1rem;
}
.grid-wrapper.availability .flights h4.flightsh4{
    padding-top: 1rem;
    margin-bottom: .3rem;
    text-align: left;
}

.grid-wrapper.availability .flights ul li{
    list-style: none;
    text-align: left;
}
.grid-wrapper.availability .flights p{
    text-align: left;
    font-size: 1rem;
}
.grid-wrapper.availability .flights a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}
.grid-wrapper.availability .flights a:hover{
    color: #0f9ddc;
}
.grid-wrapper.availability .flights a img{
    height: 75px;
}
.grid-wrapper.availability .flights a h4{
    margin: 0;
    text-align: center;
}

.grid-wrapper.availability .dates{
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-wrapper.availability .directions{
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid-wrapper.availability div h4{
    margin-top: 0;
    margin-bottom: .3rem;
    width: 100%;
}

.grid-wrapper.availability div {

}